
    <div class="panel col-md-4 panel-default couchTipo">
        <div class="panel-body">
            <div class="thumbnail">
                <img src="{{ constant('PATH_URL_IMG') }}cabania1.jpeg" alt="...">
                <div class="caption">
                    <h4 class="text-center">Villa Mar&iacute;a</h4>
                    <h3 class="text-center">C&Oacute;RDOBA</h3>
                    <div class="col-md-12 couchDetalle">
                        <div class="col-md-6">
                            <p class="text-center contenedorCalificaciones">
                                Calificaci&oacute;n<br> 
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="text-center contenedorCapacidad">
                                Capacidad<br> 
                                <span><strong>1</strong></span>
                            </p>
                        </div>
                        <div class="col-md-12 text-center couchDetalleVer">
                            <button type="button" class="btn btn-primary btn-lg active">VISITAR  <span class="glyphicon glyphicon-hand-right"></span></button>
                        </div>
                    </div>
                    <p class="couchDescripcion">Hermosa casa, ideal para tener un momento de relax y tranquilidad. Tengo una habitación extra para alojar visitantes.</p>

                </div>
            </div>
        </div>
        <div class="panel-footer text-center">CABAÑA</div>
    </div>                
