<div class="col-md-3 botones">
    <div id="userbuttonmenu" class="dropdown">
        <button class="btn btn-default dropdown-toggle {% if session.tipo == 'PREMIUM' %}menuButtonPremium{% endif %}" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <strong>MENU</strong>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li class="dropdown-header"><strong>Bienvenido</strong></li>
            <li class="dropdown-header"><strong>{{session.apellido}}  </strong>{{session.nombre}}</li>
            <li role="separator" class="divider"></li>
                {% if session.tipo == 'ADMINISTRADOR' %}
                <li class="dropdown-header">USUARIOS</li>
                <li><a href="#"><span class="glyphicon glyphicon-plus"></span> NUEVO</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-th-list"></span> LISTADO</a></li>
                <li role="separator" class="divider"></li>
                {% endif %}

            <li class="dropdown-header">MI COUCH</li>
            <li><a href="{{ constant('PATH_URL') }}couch.php?action=new"><span class="glyphicon glyphicon-plus"></span> NUEVO</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-th-list"></span> LISTADO</a></li>
            <li role="separator" class="divider"></li>
            <!--
            <li class="dropdown-header">RESERVAS</li>
            <li><a href="#"><span class="glyphicon glyphicon-th-list"></span> REALIZADAS</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-th-list"></span> PENDIENTES</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-th-list"></span> ACEPTADAS</a></li>
            <li role="separator" class="divider"></li>
            -->
            <li><a href="#"><span class="glyphicon glyphicon-cog"></span> MI PERFIL</a></li>
            <li><a href="{{ constant('PATH_URL') }}register_login.php?action=logout"><span class="glyphicon glyphicon-log-out"></span> SALIR</a></li>
        </ul>
    </div>
</div>