/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/05/2016, 19:51:16
    Author     : kibunke
*/

#imagePreview img{
    height: 300px;
    width: 300px;
}
#couchinnsContainer div.panel{
    border-radius: 20px;
    border: 0px;
}
#imagePreview:hover{
    cursor: pointer;
}
#couchinnsContainer .modal-content{
    box-shadow: none;
    background: none;
    border: none;
}
#couchinnsContainer{
    margin-top: 25px !important;
}